<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="pattern" value="[%thread] [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c %M %L %m%n"/>
    <property name="dir" value="/Users/renascence/Idea2023/log-all/logback/src/test"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="console"/>
    </root>


    <!--自定义logger-->
    <logger name="com" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

</configuration>